# This is a example .env.development file.
# Duplicate this file as ${env_file} in the root of the project
# remove the .example extension 
# and update the environment variables to match your
# desired config
# NOTE: example file was generated using: env-sync package
 
NODE_ENV=development
PORT=8000
BASE_PATH=/api

# We should set other ports below this line
SESSION_SECRET= 

TURSO_DATABASE_URL= 
TURSO_DATABASE_AUTH_TOKEN= 
